In [1]:
import pandas as pd

df = pd.read_json('/home/leesh/codeit_project/codeit-project-docker/notebooks/origin_data/2023-06-11.json')

In [2]:
df.head()

,Asia/Seoul,id,event_key,session_id,device_id,user_id,value,user_properties,hackle_properties,event_properties
0,2023-06-12T00:00:33.612Z,992ad7ef-4b37-4861-ab6e-845475eed154,$session_start,D25QsxpAUScwZKylPhMZ5GjRzWI3,8A5F41F9-D126-453C-8EA8-E0C2484584E3,NaN,0,{},"{'language': 'ko-KR', 'isapp': 'true', 'osvers...",{}
1,2023-06-12T00:10:18.093Z,8b4e52b5-213d-4c47-ad6b-b8cb6fcec039,$session_start,CiBKSEGugUW5yGj62SsXbFUzYTb2,A81A2A45-6260-41C6-B81B-071F006D60BD,NaN,0,{},"{'language': 'ko-KR', 'isapp': 'true', 'osvers...",{}
2,2023-06-12T00:17:21.980Z,52a8ba1d-d20a-4e55-b9e9-caae524bfc26,$session_start,CD41A81E-8D5C-4E7A-8289-587AD8C306F5,CD41A81E-8D5C-4E7A-8289-587AD8C306F5,NaN,0,{},"{'language': 'ko-KR', 'isapp': 'true', 'osvers...",{}
3,2023-06-12T00:21:00.694Z,eeff4d81-8313-4aad-bcce-85dc01e8aac2,$session_start,m55IE2zGHIVkRJv19Yzok0xivr03,5A92997F-362C-400B-8613-893A2FD6197F,NaN,0,{},"{'language': 'ko-KR', 'isapp': 'true', 'osvers...",{}
4,2023-06-12T00:22:44.843Z,e7929f29-7f73-41d2-af0a-7e1cff1ff863,$session_start,7FB46B64-B405-49C4-9378-8FABA73D4038,7FB46B64-B405-49C4-9378-8FABA73D4038,NaN,0,{},"{'language': 'ko-KR', 'isapp': 'true', 'osvers...",{}

In [3]:
# 주요 정보 추출
df_simple = df.copy()

# 딕셔너리 → Series로 분해 (중요한 컬럼만)
df_simple['language'] = df_simple['hackle_properties'].apply(lambda x: x.get('language'))
df_simple['devicemodel'] = df_simple['hackle_properties'].apply(lambda x: x.get('devicemodel'))


# 1. UTC 기준으로 파싱
df_simple['event_datetime'] = pd.to_datetime(df_simple['Asia/Seoul'], utc=True)

# 2. 한국시간(Asia/Seoul)으로 타임존 변환
df_simple['event_datetime'] = df_simple['event_datetime'].dt.tz_convert('Asia/Seoul')

# 최종 확인용 컬럼만 선택
df_simple = df_simple[['event_datetime','device_id', 'event_key', 'devicemodel', 'language']]

In [4]:
df_simple['event_datetime'] = df_simple['event_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_simple.head()

,event_datetime,device_id,event_key,devicemodel,language
0,2023-06-12 09:00:33,8A5F41F9-D126-453C-8EA8-E0C2484584E3,$session_start,"iPhone13,1",ko-KR
1,2023-06-12 09:10:18,A81A2A45-6260-41C6-B81B-071F006D60BD,$session_start,"iPhone14,2",ko-KR
2,2023-06-12 09:17:21,CD41A81E-8D5C-4E7A-8289-587AD8C306F5,$session_start,"iPhone13,1",ko-KR
3,2023-06-12 09:21:00,5A92997F-362C-400B-8613-893A2FD6197F,$session_start,"iPhone13,2",ko-KR
4,2023-06-12 09:22:44,7FB46B64-B405-49C4-9378-8FABA73D4038,$session_start,"iPad13,16",ko-KR

In [5]:
df_simple.to_parquet("/home/leesh/codeit_project/codeit-project-docker/parquet/230611.parquet", engine="pyarrow", compression="snappy")

In [6]:
df_simple.head()

,event_datetime,device_id,event_key,devicemodel,language
0,2023-06-12 09:00:33,8A5F41F9-D126-453C-8EA8-E0C2484584E3,$session_start,"iPhone13,1",ko-KR
1,2023-06-12 09:10:18,A81A2A45-6260-41C6-B81B-071F006D60BD,$session_start,"iPhone14,2",ko-KR
2,2023-06-12 09:17:21,CD41A81E-8D5C-4E7A-8289-587AD8C306F5,$session_start,"iPhone13,1",ko-KR
3,2023-06-12 09:21:00,5A92997F-362C-400B-8613-893A2FD6197F,$session_start,"iPhone13,2",ko-KR
4,2023-06-12 09:22:44,7FB46B64-B405-49C4-9378-8FABA73D4038,$session_start,"iPad13,16",ko-KR